$dark-100: #0B0E31;
$dark-0: #7F9CA0;
$primary-80: #F74553;
$primary-60: #FFAB98;
$secundary-40: #E5DBC0;
$light-0: #FFFFFF;

html, body {
    background-color: $light-0;
    font-family: 'Lusitana', serif;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    color: $primary-80;
    font-size: 84px;
    font-weight: 400;
}

.m-b-md {
    margin-bottom: 30px;
}