$neutral-100: #0D0D0D;
$neutral-80: #212121;
$neutral-60: #5E5E5E;
$neutral-10: #F9F9F9;
$red-50: #E40303;
$orange-50: #FF8C00;
$yellow-50: #FFED00;
$green-50: #008026;
$indigo-50: #004CFF;
$violet-50: #732982;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

@mixin sm {
    @media (min-width: #{$breakpoint-sm}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$breakpoint-md}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}
@mixin xxl {
    @media (min-width: #{$breakpoint-2xl}) {
        @content;
    }
}

html, body {
    background-color: $neutral-10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.Content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title {
    color: $neutral-80;
    font-family: "Lusitana", serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 5%;
    margin: 0;
    padding: 0;
    z-index: 1;

    @include md {
        font-size: 128px;
    }
}

.Rainbow {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: -16px;

    @include md {
        margin-top: -32px;
    }

    &__Block {
        height: 2px;
        width: 32px;

        @include md {
            height: 4px;
            width: 64px;
        }
        
        &--red {
            background-color: $red-50;
            margin-left: -100vw;
            width: 100vw;
        }
        &--orange {
            background-color: $orange-50;
        }
        &--yellow {
            background-color: $yellow-50;
        }
        &--green {
            background-color: $green-50;
        }
        &--indigo {
            background-color: $indigo-50;
        }
        &--violet {
            background-color: $violet-50;
        }
    }
}

.Footer {
    align-self: end;
    color: $neutral-60;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 4px;
}